body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f9f9f9;
  padding: 2rem;
}

header {
  background: #ffcc00;
  padding: 1.5rem;
  border-radius: 0.625rem;
}

.steps {
  max-width: 90%;
  width: 32rem;
  margin: 2rem auto;
  position: relative;
}

.step {
  background: #ffec9e;
  padding: 1.5rem;
  margin: 1.5rem 0;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transform: translateY(1.25rem);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

:target {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.steps article:first-of-type {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.step:not(:target) {
  display: none;
}

.step img {
  width: 100%;
  max-width: 25rem;
  height: auto;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

nav {
  margin-top: 1rem;
}

nav a {
  display: inline-block;
  padding: 0.75rem 1rem;
  text-decoration: none;
  background-color: #ffcc00;
  color: black;
  font-size: 1rem;
  border-radius: 0.3125rem;
}

nav a:hover,
nav a:focus {
  background-color: #ffd580;
  outline: 0.125rem solid #ff6600;
}

/* Pagination Links */
.pagination {
  margin-top: 1.5rem;
}

.pagination a {
  margin: 0.5rem;
  padding: 0.625rem 1rem;
  text-decoration: none;
  background: #ffcc00;
  color: black;
  border-radius: 0.3125rem;
  font-size: 0.875rem;
}

.pagination a:hover,
.pagination a:focus {
  background: #ffd580;
  outline: 0.125rem solid #ff6600;
}

.restart-button {
  margin: 1rem;
  padding: 0.8rem 1rem;
  text-decoration: none;
  background: #ffcc00;
  color: black;
  border-radius: 0.3125rem;
  font-size: 0.875rem;
}

.restart-button:hover {
  background-color: #e65c00;
}
